# Nama : Amandasari Dinda Rabbani (22083010093)

# Ukuran Pemusatan Data

1. Mean

In [1]:
import statistics as st
tinggi = (156,176,153,180,165)
rata2 = st.mean(tinggi)
print("nilai rata-ratanya adalah", rata2)

nilai rata-ratanya adalah 166

In [2]:
def mean(tinggi):
    return sum(tinggi)/len(tinggi)

print("nilai rata-ratanya adalah", mean(tinggi))

nilai rata-ratanya adalah 166.0

In [3]:
tinggi = (156,176,153,180,165)
bobot = (20,5,10,3,15)
total_semua_bobot = sum(bobot)
def mean():
    hasil_bobot = (tinggi[l]*bobot[l] for l in range(len(tinggi)))
    return sum(hasil_bobot)/sum(bobot)

print("nilai rata-ratanya adalah", mean())

nilai rata-ratanya adalah 161.22641509433961

2. Median

In [4]:
tinggi = [156, 176, 153, 180, 165, 170]
tinggi.sort()
tinggi

[153, 156, 165, 170, 176, 180]

In [5]:
def nilai_tengah(tinggi):
    tinggi.sort()
    n = len(tinggi)
    nilai_tengah = n // 2

    if n % 2 == 1:
       return tinggi[nilai_tengah]
    else:
      return((tinggi[nilai_tengah-1] + tinggi[nilai_tengah])/2)

print("mediannya adalah", nilai_tengah(tinggi))

mediannya adalah 167.5

3. Modus

In [6]:
tinggi = (156, 176, 153, 180, 165, 170, 165, 156, 156)
from collections import Counter
tinggi_counter = Counter(tinggi)
print(tinggi_counter)

Counter({156: 3, 165: 2, 176: 1, 153: 1, 180: 1, 170: 1})

In [7]:
#metode yang lain

from collections import Counter

data_tinggi_yang_baru = (156, 176, 153, 180, 165, 170, 165, 156, 156)

def modus(i):
    count = Counter(i)
    return list(count.keys())[0]

modus(data_tinggi_yang_baru)

156

# Ukuran Penyebaran Data

1. Range

In [9]:
print ('Nilai inputan tinggi mahasiswa')
tinggi = [int(x) for x in input().split()]
def nilai_range(tinggi):
    return max(tinggi) - min(tinggi)
print('hasil range dari data tinggi adalah', nilai_range(tinggi))

Nilai inputan tinggi mahasiswa
156 176 153 176 153 180 165 170 165 156 156
hasil range dari data tinggi adalah 27

2. Varians

In [13]:
print('nilai inputan tinggi mahasiswa ')
tinggi = [int (x) for x in input().split()]
def varians(tinggi):
  diff = 0
  rata2 = sum(tinggi)/len(tinggi)

print("hasil varians dari data tinggi adalah",varians(tinggi))

nilai inputan tinggi mahasiswa
156 176 153 176 153 180 165 170 165 156 156
hasil varians dari data tinggi adalah None

In [1]:
data_tinggi_mahasiswa = (156, 176, 153, 180, 165, 170, 165, 156, 156)
def varians(data_tinggi_mahasiswa):
    diff = 0
    rata2 = sum(data_tinggi_mahasiswa)/len(data_tinggi_mahasiswa)
    for v in data_tinggi_mahasiswa:
        diff = diff + (v-rata2)**2
    return diff/len(data_tinggi_mahasiswa)
print(varians(data_tinggi_mahasiswa))

83.4320987654321

3. Standart Deviasi

In [2]:
import math
data_tinggi_mahasiswa = (156, 176, 153, 180, 165, 170, 165, 156, 156)
def standart_deviasi(data_tinggi_mahasiswa):
    vrns = varians(data_tinggi_mahasiswa)
    stndrt_dvs= math.sqrt(vrns)
    return stndrt_dvs
print(standart_deviasi(data_tinggi_mahasiswa))

9.134117295362048